<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
    <!-- Incoming call  -->
    <service android:name=".androidcall.CallNotificationService"/>
    <receiver
        android:name=".androidcall.CallNotificationActionReceiver"
        android:enabled="true"
        android:exported="true">
        <intent-filter android:priority="999">
            <action android:name="ConstantApp.CALL_RECEIVE_ACTION" />
            <action android:name="ConstantApp.CALL_CANCEL_ACTION"/>
        </intent-filter>
    </receiver>
        <!-- <service android:name="sa.ihorizon.public.callkitvoip.MyConnectionService"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>
        <service
            android:name="sa.ihorizon.public.callkitvoip.androidcall.CallNotificationService"
            android:enabled="true"
            android:stopWithTask="true"
            android:exported="true">
        </service>
        <receiver
            android:name="sa.ihorizon.public.callkitvoip.androidcall.CallNotificationActionReceiver">
        </receiver>
        <service
            android:name="sa.ihorizon.public.callkitvoip.androidcall.VoipBackgroundService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true">
        </service> -->
    </application>
</manifest>
