<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.CAPTURE_VOICE_COMMUNICATION_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />

    <application>
        <receiver
            android:name="com.maximilien0405.callkitonesignal.CallNotificationActionReceiver"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter android:priority="999">
                <action android:name="ConstantApp.CALL_RECEIVE_ACTION" />
                <action android:name="ConstantApp.CALL_CANCEL_ACTION"/>
                <action android:name="ConstantApp.CALL_END_ACTION"/>
                <action android:name="ConstantApp.CALL_FULLSCREEN_ACTION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.maximilien0405.callkitonesignal.CallNotificationService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="true"
            android:foregroundServiceType="phoneCall|microphone"
            android:permission="android.permission.FOREGROUND_SERVICE">
        </service>

        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.maximilien0405.callkitonesignal.NotificationServiceExtension" />

        <meta-data
            android:name="com.onesignal.NotificationIcon"
            android:resource="@drawable/ic_stat_call" />
    </application>
</manifest>